@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --main-bg-color: rgb(238, 226, 203);
    --error-color: rgb(207, 58, 58);
    --success-color: rgb(71, 121, 0);
    /* Brown */
    /* --primary-color: rgb(162, 127, 61);
    --primary-color-dark: rgb(122, 85, 18);
    --primary-color-darker: rgb(81, 55, 8); */
    /* Green */
    --primary-color: rgb(123, 180, 43);
    --primary-color-dark: rgb(71, 121, 0);
    --primary-color-darker: rgb(47, 80, 0);
    --secondary-color-light: rgb(132, 215, 228);
    --secondary-color: rgb(0, 145, 168);
    --secondary-color-dark: rgb(0, 88, 101);
    --secondary-color-darker: rgb(0, 50, 57);
}

* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(63, 57, 45);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 4px;
}

.error-message {
    color: var(--error-color);
}

.success-message {
    color: var(--success-color);
}

.button {
    padding: 10px 16px;
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 16px;
    color: white;
    border: none;
}

.button-dark {
    padding: 10px 16px;
    background-color: var(--primary-color-dark);
    color: white;
    border: none;
}

.button-danger {
    padding: 10px 16px;
    background-color: var(--error-color);
    color: white;
    border: none;
}